:root{
    --title-font: "Roboto", sans-serif;
    --logo-font: "Raleway", sans-serif;

    --color-title: #757575;
    --main-bg-cl: #FFFFFF;
    --main-agent-bg: #F5F4FA;
    --footer-bg: #2F303A;
    --icon-bg: #2196F3;
    --color-h: #212121;
    --icon-color: #AFB1B8;
}